%p
  %b Email:
  %span#email
    = @user.email
%p
  %b Flickr Status:
  %span#flickr_status
    = @user.flickr_status
%p
  %b Twitter Auth Token:
  %span#twitter_auth_token
    = @user.twitter_auth_token
%p
  %b Twitter Auth Secret:
  %span#twitter_auth_secret
    = @user.twitter_auth_secret
%p
  %b Notifo Username:
  %span#notifo_username
    = @user.notifo_username

= link_to 'Edit', edit_user_path
