= form_for setup_album(@album) do |f|
  -if @album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - @album.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description

  - f.fields_for :photos do |p|
    %fieldset
      %legend Photo
      .field
        = p.label :title
        = p.text_field :title
      .field
        = p.label :description
        = p.text_field :description
      .field
        = p.label :photo
        = p.file_field :photo
      .field
        - unless p.object.new_record?
          = p.label :_destroy, 'Remove'
          = p.check_box :_destroy

  .actions
    = f.submit 'Save'
