%h1 Listing photos

%table
  %tr
    %th
    %th Title
    %th Uploaded?
    %th
    %th
    %th

  - @photos.each do |photo|
    %tr
      %td
        %img{:src => photo.small_square}
      %td= photo.title
      %td= photo.uploaded?
      %td= link_to 'Show', album_photo_path(@album, photo)
      %td= link_to 'Edit', edit_album_photo_path(@album, photo)
      %td= link_to 'Destroy', album_photo_path(@album, photo), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Photo', new_album_photo_path(@album)
\|
= link_to 'Back to Album', album_path(@album)
