%p#notice= notice

%p
  %img{:src => @photo.s3_url}
%p
  %b Title:
  = @photo.title
%p
  %b Description:
  = @photo.description
%p
  %b Uploaded:
  = @photo.uploaded?

= link_to 'Edit', edit_album_photo_path(@album, @photo)
\|
= link_to 'Back', album_photos_path(@album)
