%p
  %img{:src => @photo.medium}
%p
  %b Title:
  %span#title
    = @photo.title
%p
  %b Description:
  %span#description
    = @photo.description
%p
  %b Uploaded:
  = @photo.uploaded?

= link_to 'Edit', edit_album_photo_path(@album, @photo)
\|
= link_to 'Back', album_photos_path(@album)
